.displayNone {
	display: none;
}

@media only screen and (max-width: 700px) {
    .navigationLinksActive {
        left: 0;
    }

    .li {
        margin: 0px 0px 60px 0px;
    }

    .link {
        color: rgb(14, 14, 16);
        font-weight: 700;
        font-size: 1.4rem;
    }
    .reserve {
        margin: 0px;
        font-size: 1.4rem;
        padding: 0.6rem 1.9rem;
        margin-top: 20px;
    }

	.container {
        align-items: center;
    }

    .hamburger {
        display: block;
		cursor: pointer;
    }

    .bar {
        display: block;
        width: 35px;
        height: 3px;
        margin: 6px auto;
        background-color: black;
    }
    .hamburgerActive .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburgerActive .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .hamburgerActive .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
}